anyio==4.4.0
beautifulsoup4==4.12.3
blinker==1.8.2
docutils==0.21.2
feedgenerator==2.1.0
idna==3.7
Jinja2==3.1.4
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ordered-set==4.1.0
pelican==4.9.1
pelican-image-process==3.0.4
pelican-jinja-filters==2.1.1
pillow==10.4.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
rich==13.7.1
seafoam==2.10.2
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
titlecase==2.4.1
tzdata==2024.1
Unidecode==1.3.8
watchfiles==0.22.0
